@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

$white: #fff;
$primary-color: #ca3d26;
$font-80px: 80px;
$font-50px: 50px;
$font-30px: 30px;
$font-25px: 25px;
$font-18px: 18px;
$font-14px: 14px;
$font-15px: 15px;
$font-22px: 22px;
$transition: all 0.4s ease;
$margin-50px: 50px;

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin column-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@mixin between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

::-webkit-scrollbar {
    width: 6px;
    height: 4px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: $primary-color;
    border: 0px none #fff;
    border-radius: 5px;
}

body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden !important;
}

section {
    margin-bottom: $margin-50px;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

button,
input {
    background-color: transparent;
    border: none;

    &:focus {
        outline: none;
        border: none;
    }
}

.preloader {
    background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;

    &.hide {
        display: none;
    }

    .preloader-spinner {
        animation: pulse-primary 1.3s infinite;
        width: 60px;
        height: 60px;
        font-size: 35px;
        text-align: center;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        margin-left: -30px;
        top: 50%;
        margin-top: -30px;
        padding-top: 12px;
        z-index: 99;
        background: #1a1a1a;
        color: $primary-color;
    }
}

.up-btn {

    padding: 5px 10px;
    font-size: $font-22px;
    color: $white;
    transition: $transition;
    position: fixed;
    right: 30px;
    z-index: 9;
    background-color: #1A1A1A;
    bottom: 30px;
    display: none;

    &.show {
        display: block;
    }

    &:hover {
        background-color: #ca3d26;
        animation: pulse-primary 1.3s infinite;
        cursor: pointer;
    }
}

.general-header {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;

    .reservation-btn {
        border: 1px solid $white;
        color: $white;
        padding: 10px 24px;
        transition: $transition;


        &:hover,
        &:focus {
            animation: pulse-primary 1.3s infinite;
            background-color: $primary-color;
            border-color: $primary-color ;
        }
    }

    .header-social-list {
        @include center;

        li {
            margin-right: 10px;
            transition: $transition;
        
            border-radius: 50%;

            &:hover {
                
                transform: translateY(-2px);
            }

            a {
                color: $white;
                font-size: $font-18px;
               

                img {

                    width: 22px;
                }
            }
        }
    }

    .header-top {
        background-color: rgba(244, 244, 244, 0.4);

        .nav-menu-btn {
            color: $white;
        }

        .logo-content {
            // background-color: rgba(244, 244, 244, 0.4);
            margin: 5px 0;

            height: 90px;
            @include center;

            img {
                width: 260px;
                margin-top: -40px;
            }
        }

        .header-right-block {

            .search-area-mobile {
                .search-btn-mobile {
                    color: $white;
                    display: none;
                    font-size: $font-30px;
                    transition: $transition;

                    &:hover {
                        color: #ca3d26;
                    }
                }

                .form-content-overlay {
                    width: 100%;
                    height: 100%;
                    position: fixed;
                    top: 0;
                    left: 0;
                    z-index: 999;
                    background-color: rgba(0, 0, 0, 0.91);
                    display: none;
                    transform: translateY(-1200px);
                    transition: $transition;

                    &.show {
                        transform: translateY(0);
                    }

                    .close-search-area {
                        position: absolute;
                        right: 30px;
                        top: 30px;
                        color: #727575;
                        font-size: $font-30px;

                        cursor: pointer;

                    }

                    form {
                        @include center;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        border: 1px solid #727575;

                        input {

                            border-right: 1px solid #727272;


                            background-color: #1a1a1a;
                            height: 50px;
                            z-index: 1000;
                            color: $white;
                            width: 500px;
                            padding-left: 10px;
                        }

                        .form-btn {
                            height: 50px;
                            width: 50px;

                            z-index: 1000;
                            font-size: $font-18px;
                            background-color: #1a1a1a;
                            color: #727575;
                        }
                    }
                }
            }

            .search-area {
                .search-input {
                    width: 150px;
                    color: $white;
                    padding-right: 30px;
                    border-bottom: 1px solid $white;

                    &::placeholder {
                        color: $white
                    }

                }

                button {
                    color: $white;
                    margin-left: -25px;
                }
            }
        }
    }

    .header-bottom {

        .header-sidebar-logo {

            img {
                width: 200px;
                margin-top: -30px;
            }
        }

        .menu-close-icon {
            color: $white;
            font-size: $font-30px;
            cursor: pointer;
            transition: $transition;

            &:hover {
                color: $primary-color;
            }
        }

        .nav-menu {
            .nav-list {
                @include between;
                border-bottom: 1px solid $white;
                margin: 20px 0;

                .nav-item {
                    .nav-link {
                        color: $white;
                        font-weight: 400;
                        width: 120px;
                        height: 40px;
                        @include center;
                        transition: $transition;
                        margin-bottom: 10px;

                        &.active,
                        &:hover {

                            background-color: $primary-color;
                        }
                    }
                }
            }
        }
    }

    .header-fixed {
        background-color: #fff;
        position: fixed;
        top: 0;
        padding: 20px 0;
        left: 0;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        width: 100%;
        transform: translateY(-100px);
        transition: $transition;

        &.show {
            transition: $transition;
            transform: translateY(0);
        }

        .header-fixed-logo {

            img {
                width: 220px;
                margin-top: -40px;
            }
        }

        .nav-list {
            margin-top: 18px;
            @include between;

            a {
                color: #000;
                transition: $transition;
                font-weight: 400;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -3px;
                    left: 0;
                    width: 0;
                    transition: $transition;
                    height: 1px;
                    background-color: #ca3d26;
                }

                &:hover,
                &.active {
                    color: #ca3d26;
                }

                &:hover::after,
                &.active::after {
                    width: 100%;
                }
            }
        }

        .reservation-btn-2 {
            background-color: #ca3d26;
            color: $white;
            width: 130px;
            transition: $transition;
            height: 40px;
            @include center;

            &:hover {
                animation: pulse-primary 1.3s infinite
            }
        }
    }
}

.banner-section {
    position: relative;

    &.banner-section-2 {
        .banner-carousel {

            .slider-item {
                animation: pulse-secondary;
                padding: 280px 0;
            }


        }

        .slide-content-2 {
            text-align: center;
            transform: translate(-50%, -50%);
            position: absolute;
            top: 60%;
            left: 50%;
            z-index: 1;

            .bottom-img {
                margin-top: -20px;
            }

            ul {
                display: flex;
                align-items: center;
                justify-content: center;

                li {
                    margin-right: 15px;

                    a,
                    i {

                        font-weight: 600;
                        color: $white;
                    }
                }
            }
        }
    }

    .banner-carousel {
        .slider-item {
            position: relative;

            padding: 328px 0;
            background-size: cover !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            width: 100%;
        }
    }

    .slide-content {
        text-align: left;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 55%;
        left: 40%;
        z-index: 1;

        h1 {
            color: #fff;
            font-weight: 700;
            font-size: $font-50px;
            text-transform: uppercase;

            line-height: 1.4;

            margin-bottom: 20px;
        }

        button {
            background-color: $primary-color;
            color: $white;
            padding: 15px 60px;
            letter-spacing: .7px;
            font-size: $font-18px;
            border-radius: 30px;
            transition: $transition;

            &:hover,
            &:focus {
                animation: pulse-primary 1.3s infinite;

            }
        }
    }
}

.about-section {
    .link-about {
        background-color: $primary-color;
        color: $white;
        padding: 5px 10px;
        border: 1px solid $primary-color;
        transition: $transition;

        &:hover {
            background-color: $white;
            color: $primary-color;
        }
    }

    .about-image {
        height: 540px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .about-title {
        font-size: $font-30px;
    }

    .about-text {
        font-size: 15px;
    }

    .bottom-img {
        width: 180px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        position: relative;

        &::after {
            position: absolute;
            content: "";
            top: 20%;
            width: 28%;
            left: 0;
            height: 3px;
            background-color: #C39F71;
        }

        &::before {
            right: 0;
            position: absolute;
            content: "";
            top: 20%;
            width: 25%;
            height: 3px;
            background-color: #C39F71;
        }

        img {

            margin: -20px auto 0;
            display: block;

        }
    }

}

.services-section {
    background-image: url('../img/Group\ 8.png'), url('../img/Group\ 7.png');
    background-position: right top, left bottom;
    background-repeat: no-repeat;
    padding: 100px 0 130px;

    .bottom-img {
        margin-top: -45px;
    }

    .services-title {
        text-transform: capitalize;
    }

    .single-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 150px;


        .icon {
            margin-bottom: 20px;

            img {
                width: 80px;
            }
        }
    }
}

.branches-section {
    &.branches-section-inner {
        .slider-item {
            .slider-item-img {
                &:hover {
                    transform: scale(1);
                }
            }

            .slider-item-title-inner {

                font-size: $font-22px;
                color: #000;
                margin-top: 30px;
            }

            .address-list {
                li {
                    font-size: $font-14px;

                    i {
                        margin-right: 5px;
                        color: $primary-color;
                    }
                }
            }
        }
    }

    .branches-title {
        text-transform: capitalize;
    }

    .bottom-img {
        margin-top: -40px;
    }

    .slider-item {
        position: relative;
        overflow: hidden;

        .slider-item-img {
            transition: $transition;

            &:hover {
                transform: scale(1.1);
            }
        }

        .slider-item-title {
            position: absolute;
            bottom: 30px;
            left: 30px;
            font-size: $font-22px;
            color: $white;
            font-weight: 600;
        }
    }
}
.branches-section-single{
    background-image: url('../img/Group\ 8.png'), url('../img/Group\ 7.png');
    background-position: right top, left bottom;
    background-repeat: no-repeat;
    padding: 100px 0 170px;

    .title{
             font-size: $font-22px;
    }
    .bottom-img{
        width: 180px;
        display: flex;
        margin-top: -25px;
        
        justify-content: center;
   
    }
    .info{
        color: #1a1a1a;
        font-weight: 400;
        line-height: 1.7;
    }
}
.menu-section {
    .menu-item {
        position: relative;


        .menu-item-img-content {
            overflow: hidden;

            .menu-item-img {
                transition: $transition;
                position: relative;

                background-size: cover !important;
                background-repeat: no-repeat !important;
                background-position: center;
                height: 300px;

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, .3);
                    transition: $transition;

                }

                &:hover {
                    transform: scale(1.1);
                }

                &:hover::after {
                    background-color: rgba(0, 0, 0, .2);

                }


            }
        }

        .menu-text-content {
            color: $white;
            font-weight: 600;
            position: absolute;
            bottom: 30px;
            z-index: 3;
            left: 30px;
            font-size: $font-22px;
            text-transform: capitalize;
        }
    }
}

.menu-inner-section {
    .menu-item {
        position: relative;
        overflow: hidden;

        .menu-item-img {
            img {
                width: 100%;
                transition: $transition;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .menu-text-content {
            position: absolute;
            top: 40px;
            left: 40px;
            font-size: $font-22px;
            font-weight: 600;
            color: $white;
        }
    }
}

.nav {

    .items {
        width: 1200px;
        overflow-x: auto;
        text-align: center;
        overflow-y: hidden;
        white-space: nowrap;
        scrollbar-base-color: #ffeaff;

        .item {
            font-size: $font-18px;
            font-weight: 500;
            transition: $transition;
            height: 60px;
            max-width: 250px;
            display: inline-block;

            margin-right: 30px;

            &:hover,
            &.active {
                color: #E5601E;
                cursor: pointer;
            }
        }
    }
}

.menu-single-section {


    .products {
        .product-item {
            transition: $transition;
            border-radius: 5px;
            margin-bottom: 50px;


            &.hide {
                animation: animate 0.4s ease-in-out;
                display: none;

            }

            &.show {
                display: block;
                animation: animate 0.4s ease-in-out;
            }

            &:hover {
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }

            .product-image {
                overflow: hidden;

                img {
                    border-radius: 5px 5px 0 0;
                    width: 100%;
                    height: 330px;
                    transition: $transition;
                    object-fit: cover;

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }

            .product-info {
                padding: 20px 30px;
                margin: 10px 0;

                .product-title {
                    font-size: $font-22px;
                    font-weight: 500;
                    margin-bottom: 5px;
                }

                .product-text {
                    font-size: $font-15px;
                    font-weight: 400;
                    margin-bottom: 5px;
                }

                .price {
                    font-size: $font-18px;
                    font-weight: 600;
                    color: #E5601E;
                }
            }
        }
    }
}

.partners-section {
    margin: 70px;

    .partners-carousel {
        .slider-item {
            border: 1px solid #ddd;
            padding: 0 20px;
            @include center;
            border-radius: 10px;


            a {
                img {
                    transition: $transition;
                    width: 100%;

                    &:hover {
                        transform: scale(1.1);

                    }
                }
            }
        }
    }
}

.blog-section {
    .bottom-img {
        margin-top: -50px;
    }

    .blog-item {
        border: 1px solid #eee;
        transition: $transition;

        &:hover {
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        }

        .blog-item-img {
            img {
                width: 100%;
                height: 270px;
                object-fit: cover;
            }
        }

        .blog-item-info {

            text-align: center;
            padding: 10px 20px;

            .sub-title {
                a {
                    color: #121618;
                    font-size: $font-22px;
                    margin: 10px 0;
                    display: inline-block;
                    transition: $transition;
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: -10px;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        height: 2px;
                        border-radius: 4px;
                        width: 35%;
                        background-color: $primary-color;
                    }

                    &:hover {
                        color: $primary-color;


                    }
                }
            }

            .text {
                color: #7C7A7A;
                font-size: $font-15px;
                line-height: 1.7;

                a {
                    transition: $transition;
                    color: #121618;
                    font-size: $font-14px;
                    display: inline-block;
                    margin-right: 4px;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }
}

.blog-inner-section {
    .item {
        .item-img {
            img {
                width: 100%;
                height: 450px;
                object-fit: cover;
            }
        }

        .item-info {
            padding: 10px;
            margin-top: 10px;
.social-media-list{
    display: flex;
    li{
        margin-right: 20px;
        a{
            color: $white;
            background-color: $primary-color;
            padding: 5px 10px;
            font-size: $font-15px;
            border-radius: 3px;
            transition: $transition;
            &:hover{
                animation:pulse-primary 1.3s infinite;
            }
        }
    }
}
            .date {

                font-size: $font-18px;
            }

            .text {
                line-height: 1.6;
                font-weight: 400;
            }
        }
    }
}

.testimonial-section {
    background-image: url('../img/Group\ 8.png'), url('../img/Group\ 7.png');
    background-position: right top, left bottom;
    background-repeat: no-repeat;
    padding: 100px 0 130px;

    .bottom-img {
        margin-top: -40px;
    }

    &.testimonial-section-2 {
        padding: 0;
        background-image: none;

        .item {
            @include center;
            margin-bottom: 20px;

            .slider-item-left {
                .slider-img {
                    width: 70px;
                }

                .review {
                    margin-top: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    i {
                        color: gold;
                        font-size: 10px;
                    }
                }
            }

            .slider-item-right {
                margin-left: 40px;
                padding: 5px 15px;
                width: 560px;
                border: 1px solid #ddd;

                p {
                    font-size: 16px;
                }

            }
        }

        .comment-form {
            padding-left: 30px;
            border-left: 3px solid $primary-color;

            form {
                box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
                padding: 30px;

                .form-control {

                    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px !important;
                    margin-bottom: 20px;
                }
select{
   margin-bottom: 20px;
}
                .submit-btn {
                    background-color: $primary-color;
                    color: $white;
                    width: 140px;
                    height: 40px;
                    border: 1px solid $primary-color;
                    transition: $transition;

                    &:hover {
                        color: $primary-color;
                        background-color: $white;

                    }
                }

                .form-title {
                    text-transform: capitalize;
                }

                .bottom-img {
                    margin-top: -40px;
                }
            }
        }
    }

    .testimonial-carousel {

        .slider-item {
            @include center;

            .slider-item-left {
                .slider-img {
                    width: 70px;
                }

                .review {
                    margin-top: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    i {
                        color: gold;
                        font-size: 10px;
                    }
                }
            }

            .slider-item-right {
                margin-left: 20px;
                padding: 5px 15px;
                width: 560px;
                border: 1px solid #ddd;

                p {
                    font-size: 16px;
                }

            }
        }
    }
}

.general-footer {
    margin-top: 40px;
    padding: 50px 0 30px;
    background-color: #09080E;

    .footer-top {
        .footer-logo {
            img {
                width: 260px;
            }
        }

        .footer-social-list {
            display: flex;
            margin-top: 30px;

            li {
                transition: $transition;
                margin-right: 10px;
                width: 35px;
                height: 35px;
                @include center;
                position: relative;
                border-radius: 50%;

                &:hover {
                    background-color: $primary-color;
                    transform: translateY(-2px);
                }

                a {
                    color: #ddd;
                    font-size: $font-18px;


                    img {
                        width: 22px;

                    }


                }
            }
        }

        .footer-block {
            .block-title {
                color: $white;
                margin-bottom: 10px;
                font-size: $font-25px;
            }

            .nav-list {
                a {
                    color: $white;
                    display: inline-block;
                    margin-bottom: 10px;
                    font-size: 16px;
                    transition: $transition;
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: -5px;
                        left: 50%;
                        height: 1px;
                        left: 0;
                        transition: $transition;
                        width: 0;

                        visibility: hidden;
                        background-color: $white;

                    }

                    &:hover::after {
                        width: 100%;

                        visibility: visible;
                    }
                }
            }

            .address-list {
                a {
                    color: $white;
                    transition: $transition;
                    display: inline-block;
                    margin-bottom: 10px;
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: -5px;
                        left: 50%;
                        height: 1px;
                        left: 0;
                        transition: $transition;
                        width: 0;

                        visibility: hidden;
                        background-color: $white;

                    }

                    &:hover::after {
                        width: 100%;

                        visibility: visible;
                    }

                    i {
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    .copyright {
        border-top: 1px solid #222;
        color: $white;
    }
}



.gallery {

    .product-item {
       .card {
            position: relative;

            i {
                position: absolute;
                top: 50%;
                font-size: $font-18px;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: #ca3d26;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                @include center;
                color: #fff;
                transition: $transition;
                animation: pulse-primary 1.3s infinite;
               
            }
        }


        &.hide {
            animation: animate 0.4s ease-in-out;
            display: none;

        }

        &.show {
            display: block;
            animation: animate 0.4s ease-in-out;
        }
    }
}

@media screen and (max-width:1200px) {
    .general-header {
        .header-fixed {
            background-color: #fff;
            position: fixed;
            top: 0;
            padding: 20px 0;
            left: 0;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            width: 100%;
            transform: translateY(-100px);
            transition: $transition;

            &.show {
                transition: $transition;
                transform: translateY(0);
            }

            .header-fixed-logo {

                img {
                    width: 210px;
                    margin-top: -40px;
                }
            }

            .nav-list {

                a {

                    font-size: $font-15px;
                }
            }

            .reservation-btn-2 {
                width: 110px;
                height: 37px;
                font-size: $font-15px;
            }
        }
    }
}

@media screen and (max-width:991px) {
    .general-header {
        .reservation-btn {
            padding: 6px 12px;
            border-radius: 0;
            font-size: $font-14px;

        }

        .header-fixed {
            display: none;
        }

        .header-top {
            .logo-content {
                img {
                    width: 220px;
                    margin-top: -30px;
                }
            }
        }

        .header-bottom-content {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .7);
            transform: translateX(-1000px);
            transition: $transition;

            .bg-overlay {
                width: 50%;
                height: 100vh;
                position: absolute;
                right: 0;
                top: 0;
            }

            &.opened {
                opacity: 1;
                transform: translateX(0);
            }

            .header-bottom {
                background-color: #121618;
                top: 0;
                height: 100vh !important;
                position: absolute;
                left: 0;
                padding: 20px 0 10px;
                width: 50%;

                .nav-menu {

                    .nav-list {
                        @include column-center;
                        border: none;
                    }
                }
            }
        }
    }
  
    .about-section {
        .link-about {
@include center;
width: 120px;
margin: 20px auto; 
        }
        .about-image {
            @include center;
            margin-bottom: 20px;

            img {
                width: 560px;
                object-fit: cover;
            }
        }

        .about-title {

            text-align: center;
        }

        .about-text {
            text-align: center;
        }

        .bottom-img {
            margin: 0 auto;
        }

    }

    .testimonial-section {
        &.testimonial-section-2 {

            .item {

                .slider-item-left {
                    .slider-img {
                        img {
                            width: 80px;
                        }
                    }

                }
                .slider-item-right {
                    text-align: center;
                    padding: 20px 10px;
                }
            }

            .comment-form {
                padding-left: 0;
                border:none;

             
            }
        }

        .testimonial-carousel {

            .slider-item {
                @include center;

                .slider-item-left {
                    .slider-img {
                        width: 70px;
                    }

                    .review {
                        margin-top: 10px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        i {
                            color: gold;
                            font-size: 10px;
                        }
                    }
                }

                .slider-item-right {
                    margin-left: 20px;
                    padding: 5px 15px;
                    width: 560px;
                    border: 1px solid #ddd;

                    p {
                        font-size: 16px;
                    }

                }
            }
        }
    }
    .branches-section-single{
  
        .title,.info{
               
                 text-align: center;
        }
        .bottom-img{
          
            margin:-25px  auto 0;

       
        }
        
    }
}

@media screen and (max-width:768px) {
    .general-header {



        .header-social-list {
            display: none;
        }

        .header-top {

            .logo-content {
                width: 210px;

                img {
                    width: 200px;
                }
            }

            .header-right-block {
                .search-area-mobile {
                    .search-btn-mobile {
                        display: block;
                    }

                    .form-content-overlay {
                        display: block;
                    }
                }

                .search-area {
                    display: none;
                }
            }
        }

        .header-bottom-content {
            .bg-overlay {
                width: 40%;
            }

            .header-bottom {
                width: 60%;

            }
        }
    }

    .testimonial-section {
        padding: 100px 0 170px;

        &.testimonial-section-2 {
            .item {
                flex-direction: column;

                .slider-item-left {
                    margin-bottom: 30px;

                    .slider-img {
                        width: 120px;
                    }
                }

                .slider-item-right {
                    width: 460px;
                    margin-left: 0;
                }
            }

        }

        .testimonial-carousel {
            .slider-item {
                flex-direction: column;

                .slider-item-left {
                    margin-bottom: 30px;

                    .slider-img {
                        width: 120px;
                    }
                }

                .slider-item-right {
                    width: 460px;
                    margin-left: 0;
                }
            }
        }
    }


    .menu-single-section {


        .products {
            padding: 0 40px;

            .product-item {

                .product-info {
                    padding: 15px;

                    .product-title {
                        font-size: $font-18px;

                    }
                }
            }
        }
    }

    .blog-inner-section {
        .item {
            .item-img {
                img {
                    height: 300px;
                }
            }

        }
    }
}

@media screen and (max-width:576px) {
    .general-header {
        .header-top {
            .logo-content {
                width: 200px;
                height: 70px;

                img {
                    width: 160px;
                }
            }

            .header-right-block {
                margin-right: 0 !important;

                .search-area-mobile {

                    .form-content-overlay {

                        form {
                            input {
                                height: 45px;
                                width: 350px;
                            }

                            .form-btn {
                                height: 45px;
                                width: 45px;
                            }
                        }
                    }
                }

                .header-social-list {
                    display: none;
                }

                .search-area {
                    position: relative;

                    .search-input {
                        right: 10px;
                        transform: scale(0);
                        top: 55px;
                        position: absolute;
                        width: 200px;
                        height: 35px;
                        padding-left: 10px;
                        background-color: #121618;
                        font-size: $font-14px;
                        border: none;
                        opacity: 0;
                        visibility: hidden;
                        transition: $transition;

                        &.show {
                            transform: scale(1.1);
                            opacity: 1;
                            visibility: visible;
                        }
                    }

                    button {
                        margin-left: 50px;
                        transition: $transition;

                        i {
                            font-size: 25px;
                            transition: $transition;
                        }
                    }
                }
            }
        }

        .header-bottom-content {

            .bg-overlay {
                width: 25%;

            }

            .header-bottom {

                width: 75%;

            }
        }
    }

    .banner-section {
        .slide-content {
            left: 45%;

            h1 {
                font-size: $font-50px;
            }

            button {
                padding: 13px 40px;
            }
        }
    }

    .about-section {
        .about-image {
            @include center;
            margin-bottom: 20px;

            img {
                width: 540px;
                object-fit: cover;
            }
        }

        .about-title {

            text-align: center;
        }

        .about-text {
            text-align: center;
        }

        .bottom-img {
            margin: 0 auto;
        }

    }

    .services-section {
        background-image: none;
    }

    .branches-section-single{
      background-image: none;
    padding: 0;}

    .testimonial-section {
        background-image: none;

        &.testimonial-section-2 {
            .item {
                .slider-item-right {
                    width: 300px;
                    margin-left: 0;
                }
            }
        }

        .testimonial-carousel {
            .slider-item {
                .slider-item-right {
                    width: 300px;
                    margin-left: 0;
                }
            }
        }
    }

    .general-footer {
        text-align: center;

        .footer-top {
            .footer-logo {
                img {
                    width: 200px;
                }
            }

            .footer-social-list {
                justify-content: center;
            }
        }


    }
}

@media screen and (max-width:424px) {
    .general-header {
        .header-top {


            .header-right-block {


                .search-area-mobile {

                    .form-content-overlay {

                        form {
                            input {

                                width: 270px;
                            }

                        }
                    }
                }

                .header-social-list {
                    display: none;
                }

                .search-area {
                    position: relative;

                    .search-input {
                        right: 10px;
                        transform: scale(0);
                        top: 55px;
                        position: absolute;
                        width: 200px;
                        height: 35px;
                        padding-left: 10px;
                        background-color: #121618;
                        font-size: $font-14px;
                        border: none;
                        opacity: 0;
                        visibility: hidden;
                        transition: $transition;

                        &.show {
                            transform: scale(1.1);
                            opacity: 1;
                            visibility: visible;
                        }
                    }

                    button {
                        margin-left: 50px;
                        transition: $transition;

                        i {
                            font-size: 25px;
                            transition: $transition;
                        }
                    }
                }
            }
        }

        .header-bottom-content {

            .bg-overlay {
                width: 25%;

            }

            .header-bottom {

                width: 75%;

            }
        }
    }

    .banner-section {
        .slide-content {
            left: 45%;

            h1 {
                font-size: $font-50px;
            }

            button {
                padding: 13px 40px;
            }
        }
    }

    .about-section {
        .about-image {
            @include center;
            margin-bottom: 20px;

            img {
                width: 540px;
                object-fit: cover;
            }
        }

        .about-title {

            text-align: center;
        }

        .about-text {
            text-align: center;
        }

        .bottom-img {
            margin: 0 auto;
        }

    }

    .services-section {
        background-image: none;
    }


    .testimonial-section {
        background-image: none;

        &.testimonial-section-2 {
            .item {
                .slider-item-right {
                    width: 300px;
                    margin-left: 0;
                }
            }
        }

        .testimonial-carousel {
            .slider-item {
                .slider-item-right {
                    width: 300px;
                    margin-left: 0;
                }
            }
        }
    }

    .general-footer {
        text-align: center;

        .footer-top {
            .footer-logo {
                img {
                    width: 200px;
                }
            }

            .footer-social-list {
                justify-content: center;
            }
        }


    }
}

@keyframes pulse-primary {
    0% {
        -webkit-box-shadow: 0 0 0 0 $primary-color;
        box-shadow: 0 0 0 0 $primary-color;
    }

    80% {
        -webkit-box-shadow: 0 0 0 10px rgba(255, 134, 134, 0);
        box-shadow: 0 0 0 10px rgba(255, 134, 134, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 134, 134, 0);
        box-shadow: 0 0 0 0 rgba(255, 134, 134, 0);
    }
}

@keyframes pulse-secondary {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.75);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.75);
    }

    80% {
        -webkit-box-shadow: 0 0 0 10px rgba(255, 134, 134, 0);
        box-shadow: 0 0 0 10px rgba(255, 134, 134, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 134, 134, 0);
        box-shadow: 0 0 0 0 rgba(255, 134, 134, 0);
    }
}



@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
        -webkit-transform: translate3d(-1px, 0, 0);
        -moz-transform: translate3d(-1px, 0, 0);
        -ms-transform: translate3d(-1px, 0, 0);
        -o-transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
        -webkit-transform: translate3d(2px, 0, 0);
        -moz-transform: translate3d(2px, 0, 0);
        -ms-transform: translate3d(2px, 0, 0);
        -o-transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
        -webkit-transform: translate3d(-4px, 0, 0);
        -moz-transform: translate3d(-4px, 0, 0);
        -ms-transform: translate3d(-4px, 0, 0);
        -o-transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
        -webkit-transform: translate3d(4px, 0, 0);
        -moz-transform: translate3d(4px, 0, 0);
        -ms-transform: translate3d(4px, 0, 0);
        -o-transform: translate3d(4px, 0, 0);
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg)
    }
}

@keyframes animate {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1)
    }
}


